<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/icon.png">
  <title>S0T12</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    header {
      background-color: #333;
      padding: 20px;
      text-align: center;
      color: #fff;
      position: relative;
    }

    main {
      max-width: 500px;
      margin: 30px auto;
      padding: 40px;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-around;
    }

    li {
      margin-bottom: 10px;
    }

    li:last-child {
      margin-bottom: 0;
    }

    a {
      color: #333;
      text-decoration: none;
      background-color: #eee;
      padding: 20px 50px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    a:hover {
      background-color: #ccc;
    }

    .login-btn,
    .signup-btn {
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      background-color: #555;
      border-radius: 5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .login-btn {
      right: 120px;
    }

    .signup-btn {
      right: 10px;
    }
  </style>
</head>
<body>
  <header>
    <h1>S0T12</h1>
    <% if (typeof authToken !== 'undefined' && authToken) { %>
      <p>Welcome, <%= username %>!</p>
    <% } else { %>
      <p>Hi</p>
      <a class="login-btn" href="/login">Login</a>
      <a class="signup-btn" href="/signup">Signup</a>
    <% } %>
  </header>
  <main>
    <ul>
      <% categories.forEach(category => { %>
        <% if (category.name === 'About') { %>
          <li><a href="/about"><%= category.name %></a></li>
        <% } else if (category.name === 'Posts') { %>
          <li><a href="/posts"><%= category.name %></a></li>
        <% } %>
      <% }) %>
    </ul>    
  </main>
  <script>
    function getCookie(cname) {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.startsWith(cname + '=')) {
          return cookie.substring(cname.length + 1);
        }
      }
      return '';
    }

    const welcomeMessage = document.querySelector('p');
    const loginBtn = document.querySelector('.login-btn');
    const signupBtn = document.querySelector('.signup-btn');
    const authToken = getCookie('token');

    async function checkAuthStatus() {
      try {
        if (authToken) {
          const response = await fetch('http://localhost:3000/auth/check', {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${authToken}`
            },
            credentials: 'include'
          });

          if (response.ok) {
            const user = await response.json();
            welcomeMessage.innerText = `Welcome, ${user.username}!`;
            loginBtn.style.display = 'none';
            signupBtn.style.display = 'none';
          }
        }
      } catch (error) {
        console.error('Error while checking authentication status:', error);
      }
    }

    checkAuthStatus();
  </script>
</body>
</html>