<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/icon.png">
  <title>S0T12</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    header {
      background-color: #333;
      padding: 20px;
      text-align: center;
      color: #fff;
    }

    main {
      max-width: 500px;
      margin: 30px auto;
      padding: 40px;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-around;
    }

    li {
      margin-bottom: 10px;
    }

    li:last-child {
      margin-bottom: 0;
    }

    a {
      color: #333;
      text-decoration: none;
      background-color: #eee;
      padding: 20px 50px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    a:hover {
      background-color: #ccc;
    }
  </style>
</head>
<body>
  <header>
    <h1>S0T12</h1>
    <p>Hi</p>
  </header>
  <main>
    <ul>
      <% categories.forEach(category => { %>
        <% if (category.name === 'About') { %>
          <li><a href="/about"><%= category.name %></a></li>
        <% } else if (category.name === 'posts') { %>
          <li><a href="/posts"><%= category.name %></a></li>
        <% } %>
      <% }) %>    
    </ul>    
  </main>
  <footer>
  </footer>
</body>
</html>